@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Outfit:wght@100..900&family=Playfair+Display&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body{
  background: black;
}

h1, h4, p, a{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding:12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(204, 10, 110);
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  padding:12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background: rgba(255, 255, 255, 0);
  color: white;
  transition: 0.3s;
}